{% extends 'base.html' %}

{% load static %}

<!-- Title for page -->
{% block title %}
El point
{% endblock %}

{% block content %}
    <!-- error 403 container -->
    <section>
        <div class="post-card d-block mx-auto py-2 text-center">
            <h1 class="post-card d-block mx-auto">403</h1>
            <h2>Forbidden</h2> <hr>
            <h2>I'm so sorry, but you dont have permission to access this resource.</h2>
        </div> 
        <!-- Back to home page button -->
        <div class="m-2 text-center">
            <a href="{% url 'home' %}" class="back-btn">Home</a>
        </div>
    </section>

{% endblock %}