{% extends 'base.html' %}

{% load static %}

<!-- Title for page -->
{% block title %}
El point
{% endblock %}

{% block content %}
    <!-- error 404 container -->
    <section>
        <div class="post-card-404fail d-block mx-auto py-2 text-center">
            <h1 class="post-card-404fail d-block mx-auto py-2">404</h1>
            <h2>Oh no!</h2> <hr>
            <h2>Page not found.</h2>
        </div> 
        <!-- Back to home page button -->
        <div class="m-2 text-center">
            <a href="{% url 'home' %}" class="back-btn">Home</a>
        </div>
    </section>

{% endblock %}