{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}

<h2>Delete your Post</h2>   

<p class="text-center">Do you really want to delete "{{ post.title }}"?</p>

<!-- Post delete form -->

{% if user.id == post.author.id %}

<!-- this if statement prevents unauthorized user to delete
    post via URL -->
    
    <form method="POST" class="post-form">      
        {% csrf_token %}
        <div class="update-btn-group">
            <button type="submit" class="delete-btn">Delete</button>
            <a href="{% url 'home' %}" role="button" class="cancel-btn">Cancel</a>
        </div>
    </form>
{% endif %}

{% endblock %}