{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}

<h2>Edit your Post</h2>   

<!-- Post edit form -->
{% if user.id == post.author.id %}
<!-- this if statement prevents strage user to edit 
    post via URL -->
    <form method="POST" class="post-form">
        {% csrf_token %}
        {{ form.as_p | safe }}
        <div class="update-btn-group">
            <button type="submit" class="edit-btn">Edit</button>
            <a href="{% url 'home' %}" role="button" class="cancel-btn">Cancel</a>
        </div>
    </form>
{% endif %}

{% endblock %}